@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #e4dedeab;
}

.conatiner-menu i{
   font-size: 40px;
   margin-top: 10px;
   cursor: pointer;
   display: none;
}
.home-section{
    background: #1f1f1f;
    color: white;
    clip-path: polygon(100% 0, 100% 100%, 75% 82%, 0 100%, 0 0);
    height: 52vw;
}

.header-container a{
    transition: all 2s ease-in;
}
.header-container{
    margin-left: 800px;
    padding: 12px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center; 
    /* padding-right: 400px;    */
}

.link-header{
    margin-left: 100px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.link-header:hover{
    text-decoration: underline;
    transition: 1s ease-out;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 100px 0px;
}

.hero-img{
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.759);
    border-radius: 2px;
    box-shadow: 2px 2px 5px #ffffffde;
    height: auto;
    /* border-radius: 15px; */

}

.main-text{
    margin-left: 300px;
    text-align: center;
}

.main-text h2{
    font-weight: 600;
}

.main-text p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}

.web-text{
    color: #02B290;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.hidden{
    display: none;
}

.slide-right{
    animation: 1s slide-top;
    animation-delay: 0.5s;
 }
 
 @keyframes slide-top {
     from {
        margin-top: -500px;
     }
 
     to {
        margin-top: 0%;
     }
  }

.hero-title-main{
    margin-left: 10px;
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
    font-size: 35px;
}

.hi-text{
    margin-right: 10px;
    color: #02B290;
    font-size: 40px;
    font-weight: 600;
}

#about{
    background: #fff;
    border-radius: 2px;
    margin-top: 5px;
}

.about-title{
    font-size: 45px;
    text-align: center;
    padding: 40px 20px;
    font-weight: 600;
    color: #1f1f1f;
}

.about-title:hover{
    text-decoration: underline;
}

.main-about-section{
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}

.about-section-img{
    width: 500px;
}

.about-right-section{
    margin-left: 200px;
    color: #1f1f1f;
    padding: 70px 140px;
    
}

.about-right-section p{
    margin-top: 15px;
    font-size: 20px;
}

.portfolio-title{
    font-size: 45px;
    text-align: center;
    padding: 20px 20px;
    font-weight: 600;
    color: #1f1f1f;
}

.portfolio-main-section{
    background: #1f1f1fce;
}

.parent-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #1f1f1f;
}

.card-container{
    margin-left: 80px;
    margin-top: 48px;
    padding: 32px;
    
}

.card-container:hover{
    box-shadow: 2px 2px 5px #ffffffde;
}


.card-image{
    width: 385px;
    height: 225px;
    border-radius: 10px;
}

.card-text{
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-top: 16px;
}

.card-source-btn{
    margin-left: 30px;
    height: 35px;
    background: transparent;
    width: 180px;
    font-size: 25px;
    border-radius: 15px;
    color: #02B290;
    cursor: pointer;
    border: 0px;
}

.card-source-btn:hover{
    background: #484747ca;
}

.card-preview-btn{
    background: transparent;
    margin-left: 30px;
    height: 35px;
    width: 115px;
    font-size: 25px;
    border-radius: 15px;
    color: #AF9D5A;
    cursor: pointer;
    border: none;
}

.card-preview-btn:hover{
    background: #484747c9;
}

.card-links{
    display: flex;
    margin-top: 16px;
}

#contact{
    height: 100vh;
    background: #02B290;
    
}
.free{
    background: #1f1f1f;
    height: 300px;
    clip-path: polygon(100% 0, 0 0, 21% 100%);

}
.contact-section{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
    background: #02B290;
}

.contact-title-main{
    color: #b7f3e7;
    font-weight: 600;
    font-size: 45px;
}

.logos{
    width: 35px;
}

.contact-caption{
    color: #dbfbf5;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.contact-caption span{
    padding: 10px;
}

.contact-caption-etc{
    color: #9bffed;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.insta{
    width: 45px;
    height: 40px;
}

.insta-text{
    margin-top: 10px;
}

.social-links-section:hover{
    text-decoration: underline;
}

.social-section, .social-links-section{
    display: flex;
    flex-direction: row;

}
.social-section{
    margin-top: 20px;
}

.social-links-section{
    margin-left: 20px;
    padding: 10px;
}

.social-links-section p{
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
    color: #b9f2e8;
}

#new{
    position: fixed;
    top: 50rem;
    right: 90px;
    z-index: 1;
    
    /* transform: scaleX(90deg); */
    transition: font-size 2s;
    color: #fff;
}
#new i{
    font-size: 70px;
    color: #fff;

}
@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .home-section{
        background: #1f1f1f;
        color: white;
        clip-path: polygon(100% 0, 100% 100%, 75% 82%, 0 100%, 0 0);
        height: 56rem;
    }
    .menu-bar{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 50px;
        left: -500px;
        height: 100vh;
        color: #fff;
        margin: 0px 0px;
        padding: 40px 0px;
        width: 300px;
        background: #3a3a3a98;
        /* display: none; */
    }

    .link-header{
       
        margin-left: 0px;
        margin-top: 50px;
        color: #fff;
        font-size: 20px;
    }
/* slide */
    .show{
            animation: 1s slide-right;
            animation-delay: 0.5s;
         }
         
         @keyframes slide-top {
             from {
                left: -500px;
             }
         
             to {
                left: 0%;
             }
          }
        
    

    .conatiner-menu i{
        display: block;
        padding: 5px;
    }

    .main-section{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 10px 0px;
        
    }

    .main-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 20px 0px 0px 0px;
    }

    .slide-right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        margin: 0px 0px;
    }
    .main-about-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .about-section-img{
        width: 300px;
    }
    
    .about-right-section{
        margin: 0;
        padding: 40px 20px;
    }

    .parent-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .card-container{
        margin: 0;
        padding: 40px 10px;
    }

    .free{
        height: 200px;
    }

    .contact-section{
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        background: #02B290;
    }

    .contact-title-main{
        text-align: center;
        color: #b7f3e7;
        font-weight: 400;
        font-size: 40px;
    }

    .contact-caption-etc{
        text-align: center;
    }

    .logos{
        width: 25px;
        height: 25px;
    }

    .social-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-links-section{
        display: flex;
        flex-direction: row;
    
    }

    .social-links-section p{
        text-align: center;
        margin-top: 3px;
        margin-left: 10px;
        font-size: 20px;
        color: #b9f2e8;
    }

    .insta-text{
        margin: 0;
    }
    .insta{
        width: 45px;
        height: 40px;
        margin: 0;
    }

    #new{
        position: fixed;
        top: 45rem;
        right: 20px;
        z-index: 1;
        
        /* transform: scaleX(90deg); */
        transition: font-size 2s;
        color: #fff;
    }
    #new i{
        font-size: 60px;
        color: #fff;
    
    }
}
