.about__container {
  display: flex;
  gap: 8rem;
  padding: 2rem 0;
}

.about__me {
  width: 100%;
  height: 500px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
}

.about__me-image {
  height: 500px;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0deg);
}

.about__para {
  padding: 1rem 3rem;
}

.about__para p {
  color: var(--color-light);
  padding: 3rem 0;
}

/* for ipads,tabs etc.... (Medium devices)  */

@media screen and (max-width: 1024px) {
  .about__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .about__me {
    width: 50%;
    align-self: center;
    height: 350px;
  }

  .about__me-image {
    height: 350px;
  }

  .about__para {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
  }

  .about__para p {
    padding: 2rem 0;
  }
  .about__para a {
    margin-top: 10px;
    align-self: center;
  }
}

/* for phones etc.... (small devices)  */

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    height: 200px;
  }

  .about__me-image {
    height: 200px;
  }

  .about__para {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .about__para p {
    padding: 1rem 0;
  }
  .about__para a {
    /* margin-top: 20px; */
    align-self: center;
  }
}
